header {
    background-color: #0B1C51;
    margin-bottom: 40px
}

header h1 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 52px;
    padding-top: 20px;
}

header nav {
    display: flex;
    justify-content: center;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

header nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px 0 0;
}

header nav ul li:last-child a {
    margin-right: 0
}

/* these setting are for desktop display */

@media all and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 0px 30px
    }
    
    header h1 {
        margin: 14px 0;
        font-size: 48px;
        padding-top: 0
    }
    
    header nav {
        align-items: center;
    }

    header nav ul li a:hover {
        color: #bdbdbd
    }




}